#!/usr/bin/make -f

# build and install xtramake into the packaging directory
pkgname:=extramake
pkgdir:=package/debian/extramake
pkgver:=$(cat ../version)
_licensedir:=$(pkgdir)/usr/share/licenses/$(pkgname)
_installbase=$(pkgdir)/usr/lib/$(pkgname)
_installdir=$(_installbase)/$(_p)

.ONESHELL:

clean::
	cd ../ && {  echo $$PWD;
	rm -rf $(pkgdir)/usr/lib/extramake $(pkgdir)usr/share/licenses/COPYING; 
	make clean; }

binary::
	cd ../ && { 
	mkdir -p "$(_licensedir)"; 
	cp -vf COPYING "$(_licensedir)"; 
	make XTRA_INSTALLDIR="$(_installdir)" install; 
	rm "$(_installbase)/latest" || true; 
	ln -s "$(pkgver)" "$(_installbase)/latest";
	}

build::
	cd ../ && { 
		make;
	}

# vim:set ts=2 sw=2 et:


