Source: extramake
Maintainer: Timothy Norman Murphy <tnmurphy@gmail.com>
Build-Depends: make build-essential
Standards-Version: 0.1-1
Section: utils

Package: extramake
Section: utils
Priority: optional
Architecture: x86_64
Maintainer: Timothy Norman Murphy <tnmurphy@gmail.com>
Depends: make
Description: Extramake is a library of C functions that can be loaded into GNU Make to extend it with new abilities via Make's 'load' directive. it includes functions such as: 

* $(equals x,y) tests string equality. Returns empty if the 2 parameters don't match or the value if they do. 
* $(hash text[,key]) returns a 16 character hash of the input text
* $(strlen <string>) returns the number of characters in <string>
* $(sum <number> <number> .... <number> )  finds the sum of a list of integers.
* $(mul <n> <n> <n>) returns the result of multiplying a list of numbers.  
* $(lt x,y) returns 1 if x < y for integers x and y, empty string otherwise.
* $(lte x,y) returns 1 if x <= y for integers x and y, empty string otherwise.
* $(gt x,y) returns 1 if x >= y for integers x and y, empty string otherwise.
* $(gte x,y) returns 1 if x >= y for integers x and y, empty string otherwise.
* $(mkdir /path/to/dir)  makes all directories up to and including "dir". 
* $(reverse <list>) returns the list in reverse order with single space separator. 
* $(time <format>) - returns the current time in strftime
* $(sleep <seconds>) - sleeps for an integer number of seconds. Returns nothing.

